services:
  map-frontend:
    image: nginx:alpine
    restart: always
    networks:
      - traefik-public
    labels:
      - "traefik.enable=true"
      # Domena, na której ma działać aplikacja
      - "traefik.http.routers.map-frontend.rule=Host(`map.rabciak.site`)"
      - "traefik.http.routers.map-frontend.entrypoints=web,websecure"
      - "traefik.http.routers.map-frontend.tls=true"
      - "traefik.http.routers.map-frontend.tls.certresolver=mytlschallenge"
      # Port wewnętrzny Nginx to zawsze 80
      - "traefik.http.services.map-frontend.loadbalancer.server.port=80"
    volumes:
      # Mapujemy folder lokalny z index.html do folderu serwera Nginx
      - .:/usr/share/nginx/html:ro

networks:
  traefik-public:
    external: true
